# !! PLEASE READ !!
# https://nextjs.org/docs/basic-features/environment-variables
# https://next-auth.js.org/configuration/options

# Generate secret at https://generate-secret.now.sh/32
# Or roll your face on the keyboard
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
